.post-content > :last-child {
  margin-bottom: 0;
}

article,
.comments {
  @extend %padding-regular;
  border-bottom: 1px solid $border-color;
  float: left;
  width: 100%;
}

article {
  .subtitle {
    font-size: 1.35em;
    font-weight: normal;
    margin: 0.67em;
  }
  header {
    margin-bottom: 8%;
    text-align: center;
  }
  a {
    @extend .body-link;
  }
  .footnotes {
    font-size: 0.9em;
  }
}
header {
  h1 {
    margin: 0;
  }
}

.ul {font-size: 0.9em;}
.meta {
  color: rgba($text-color, .5);
  font-size: 0.9em;
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}
.feature-image {
  padding: 0%;
  .post-link {
    color: $feature-image-text-color;
  }
  header {
    color: $feature-image-text-color;
    background-size: $feature-image-size;
    margin-bottom: 0;
    padding: $padding-large/2.5 $padding-large;
    .meta {
      color: rgba($feature-image-text-color, .7);
    }
  }
  .post-content {
    @extend %padding-regular;
  }
}

p {
    margin-bottom: 1.45em;
    line-height: 1.65;
}

.ita {
  letter-spacing: 0px;
  font-family: Noto Sans;
  font-style: italic;
}
.reg {
  letter-spacing: 0px;
  font-family: Noto Sans;
}
.num {
  letter-spacing: 0px;
}
p.quote {
  letter-spacing: 0px;
  font-size:0.95em;
  font-family: Noto Sans;
  line-height: 1.5;
  margin-bottom: 1.0em; 
}

p.quote-ttl {
  letter-spacing: 0px;
  font-family: Noto Sans;
  font-size:0.95em;
  line-height: 1.5; 
  margin-bottom: -0.25em
}

p.quote-transl {
  letter-spacing: 0px;
  font-family: Noto Sans;
  font-size:0.87em;
  line-height: 1.5;
  margin-bottom: 1.1em; 
}

p.play {
  margin-bottom: -0.25em; 
  letter-spacing: 0px;
  font-size:.95em; 
  font-family: Noto Sans; 
  margin-left: 1em; 
  text-indent:-1em;
  line-height: 1.5;
}

p.poem {
  margin-bottom: 0.25em; 
  letter-spacing: 0px;
  font-size:.95em; 
  font-family: Noto Sans; 
  margin-left: 1em; 
  text-indent:-1em;
  line-height: 1.5;
}
p.poem-ns {
  margin-bottom: 0.0em; 
  letter-spacing: 0px;
  font-size:.95em; 
  font-family: Noto Sans; 
  margin-left: 1em; 
  text-indent:-1em;
  line-height: 1.5;
}
p.poem-last {
  font-size:.95em; 
  letter-spacing: 0px;
  font-family: Noto Sans; 
  margin-left: 1em; 
  text-indent:-1em;
  line-height: 1.5;
  margin-bottom: 1.0em; 
}
p.cn {
  line-height: 1.65;
  letter-spacing: 0.25px;
  margin-bottom:1.45em;
}
p.ttl {
  text-align:center;
  font-size:1.05em;
  font-weight: 600;
  margin-bottom:1.2em;
  margin-top:3em;
}
p.end {
  letter-spacing: 0.1px;
  text-align:center;
  margin-bottom:2em;
}
p.alb {
  text-align:center; 
  font-family: Noto Sans; 
  color:#707070; 
  font-size:0.88em; 
  margin-top:2em; 
  margin-bottom:2em;
  letter-spacing: 0;
  line-height: 1.5;
}
p.note {
  text-align:left; 
  color:#707070; 
  font-size:0.88em; 
  letter-spacing: 0.25px;
  margin-top:2em; 
  margin-bottom:2em;
  margin-left:1.25em; 
  margin-right:1.25em;
  letter-spacing: 0;
  line-height: 1.5;
}
p.quote-list {
  text-align:left; 
  font-family: Noto Sans; 
  font-size:0.95em; 
  margin-top:-0.5em; 
  margin-bottom:1.0em;
  margin-left: 1.15em; 
  text-indent:-1.15em;
  letter-spacing: 0;
  line-height: 1.5;
}
p.list {
  margin-left: 1.35em; 
  text-indent:-1.35em;
  margin-bottom:1.0em;
}
p.list-ns {
  margin-left: 1.35em; 
  text-indent:-1.35em;
  margin-bottom:0.0em;
}
p.list-last {
  margin-left: 1.35em; 
  text-indent:-1.35em;
}
